h1{
height: 300px;
width: 300px;
background-color: lightblue;
border: 12px solid black;
padding-top: 5%;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
margin-top: 5PX;
margin-right: 5px;
margin-bottom: 5px;     
margin-left: 5px;

outline-width: 5px;
outline-style: dotted;
outline-color: red;
}

p {
    border: 3px solid green;
box-shadow: 2px 2px 3px gray;

}


