* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{ 
    width: 97vw;
    height: 97vh;
    background-color: rgba(238, 232, 232, 0.966);
}   

header {
    background-color: rgba(151, 150, 150, 0.959);
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
    }

menu a {
   display: block;
   text-decoration: none;
   color: white; 
   padding: 2px;   
   text-align: center;
   background-color: rgba(39, 37, 37, 0.637);
   }
   menu a:hover {
    background-color: rgba(192, 190, 190, 0.644);
   }

li {
    list-style-type: none;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    font-size: 0.8em;
}

main {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 500px;
}

p {
    text-align: justify;
    font-size: 0.7em;
    padding: 5px;
}