

#burguer {
    background-color: rgb(68, 67, 67);
    display: block;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


header {
    background-color: rgba(151, 150, 150, 0.959);
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
    }

menu {
    display: none;
}

menu a {
   display: block;
   text-decoration: none;
   color: white; 
   padding: 2px;   
   text-align: center;
   background-color: rgba(39, 37, 37, 0.637);
   }
   menu a:hover {
    background-color: rgba(192, 190, 190, 0.644);
    
   }

li {
    list-style-type: none;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    font-size: 0.8em;
}

main {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 500px;
}

p {
    text-align: justify;
    font-size: 0.7em;
    padding: 5px;
    text-indent: 20px;
}

@media (min-width: 768px) {
    #burguer {
        display: none;
    }

    menu {
        display: block;
        text-align: center;
    }

    menu a {
        display: inline-block;
        margin: 0 5px;
        border: none;
    }

    li {
        display: inline-block;
    }
}