caption {
    padding: 5px;
    background-color: rgba(247, 247, 5, 0.623);
}

table {
    border-collapse: collapse;
    width: 400px;
    
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.507);
    padding: 5px;
}

.bg1 {
color: white;
    background-color: #696868;
}

.media {
    text-align: left;
}

.num {
    text-align: center;
}