body {
    height: 100vh;
/* background-color: black;
background-image: url("../wallpaper002.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed; */

background: black url("../wallpaper002.jpg") center center no-repeat fixed;
background-size: cover;
}

/*SHORTHAND - BACKGROUND:  COLOR  -  IMAGE  - POSITION  -  REPEAT  - ATTACHMENT 
O BACKGROUD-SIZE NÃO FUNCIONA NO SHORTHAND 
*/

main {
background-color: white;
max-width: 400px; /*Quando a tela diminuir ele vai espremendo o conteúdo para caber */
padding: 10px;
margin: auto;
border: 1px solid black;
border-radius: 15px;
font-weight: bold;

}