.bloco {
height: 200px;;
border: 3px solid black;
margin: 10px;
border-radius: 10px;
background-image: url("../wallpaper003.jpg");
}

#q1 {
background-position: left top; 
}

#q2 {
    background-position: left center;
}

#q3 {
    background-position: right bottom;
}

#q4 {
    background-position: center center ;
}
