* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: lightpink
}

main {
background-color: lightblue;
width: 100vw;
height: 300px;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
}

section {
background-color: lightgreen;
width: 200px;
height: 200px;
}