.container {
display: flex;
flex-flow: row nowrap;
justify-content: center;

}


.item {
    background-color: lightblue;
    padding: 20PX;
    border: 2px solid blue;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    
.item-1 {
    order: 1;
}

.item-2 .item-3 {
    order: 0;
}

.item-4 {
    order: 2;
}

