* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size:1em;
    line-height: 1.5em;
}


menu {
    display: none;  /*não vai exibir para versão em impressão*/
}

article {
    width: 100%;
}

article::after {
    content: " Este artigo foi impresso através do site www.cursoemnideo.com ";
}