* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
 }


 header {
    background-color: lightblue;
   
} 

header h1 {
    text-align: center;
}

menu {
    list-style-type: none;
    background-color: rgba(131, 131, 197, 0.575);
}

li {
    background-color: rgba(120, 120, 185, 0.151);
    display: inline-block;
    padding: 10px;
    color: white;

}

article {
    width: 500px;
    display: block;
    margin: auto;
    text-decoration: justify;
}